<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">

	<!-- mybatis 配置 -->
	<bean id="dynamicDataSource" class="com.shop.datasource.DynamicDataSource" />

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dynamicDataSource" />
		<property name="configLocation" value="classpath:mybatis/mybatis-config.xml" />
		<property name="mapperLocations">
			<list>
				<value>classpath*:com/shop/**/*Mapper.xml</value>
			</list>
		</property>
		<property name="configurationProperties">
			<props>
				<prop key="cacheEnabled">true</prop>
				<prop key="lazyLoadingEnabled">false</prop>
				<prop key="aggressiveLazyLoading">true</prop>
				<prop key="multipleResultSetsEnabled">true</prop>
				<prop key="defaultExecutorType">REUSE</prop>
				<prop key="defaultStatementTimeout">25000</prop>
			</props>
		</property>
		<property name="plugins">
			<array>
				<bean class="com.github.pagehelper.PageHelper">
					<property name="properties">
						<value>
							dialect=mysql
							<!-- 该参数默认为false -->
							<!-- 设置为true时，会将RowBounds第一个参数offset当成pageNum页码使用 -->
							<!-- 和startPage中的pageNum效果一样 -->
							offsetAsPageNum=true
							<!-- 该参数默认为false -->
							<!-- 设置为true时，使用RowBounds分页会进行count查询 -->
							rowBoundsWithCounttrue
							<!-- 设置为true时，如果pageSize=0或者RowBounds.limit = 0就会查询出全部的结果 -->
							<!-- （相当于没有执行分页查询，但是返回结果仍然是Page类型） -->
							pageSizeZero=true
							<!-- 3.3.0版本可用 - 分页参数合理化，默认false禁用 -->
							<!-- 启用合理化时，如果pageNum<1会查询第一页，如果pageNum>pages会查询最后一页 -->
							<!-- 禁用合理化时，如果pageNum<1或pageNum>pages会返回空数据 -->
							reasonable=false
							<!-- 3.5.0版本可用 - 为了支持startPage(Object params)方法 -->
							<!-- 增加了一个`params`参数来配置参数映射，用于从Map或ServletRequest中取值 -->
							<!-- 可以配置pageNum,pageSize,count,pageSizeZero,reasonable,不配置映射的用默认值 -->
							<!-- 不理解该含义的前提下，不要随便复制该配置 -->
							params="pageNum=start;pageSize=limit;"
						</value>
					</property>
				</bean>
				<!-- mybatis操作拦截器 -->
			</array>
		</property>
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.shop.service.**.mapper" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dynamicDataSource" />
	</bean>

	<!-- 事务注解驱动，标注@Transactional的类和方法将具有事务性 -->
	<!-- 注：@Transactional注解缺省情况下，只在捕获到RuntimeException异常时才回滚,如需捕获自定义异常，需在参数中设置 -->
	<tx:annotation-driven transaction-manager="transactionManager" />


<!-- 	<aop:config>
		<aop:pointcut id="bussinessService" expression="execution(* com.shop.service..*.*(..))" />
		<aop:advisor pointcut-ref="bussinessService" advice-ref="txAdvice" />
	</aop:config> -->
</beans>
