<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<context:property-placeholder location="classpath*:properties/*.properties"
		ignore-resource-not-found="true" ignore-unresolvable="true" />

	<!-- 自动扫描且只扫描@Controller -->
	<!-- 设置使用注解的类所在的包 -->
	<context:component-scan base-package="com.shop.**.controller">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!-- 添加注解驱动 -->
	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<bean
				class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<!--避免IE执行AJAX时，返回JSON出现下载文件 -->
				<!--<property name="supportedMediaTypes" value="text/html;charset=UTF-8"/> -->
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=UTF-8</value>
						<value>text/html;charset=UTF-8</value>
					</list>
				</property>
				<property name="features">
					<list>
						<!-- 输出key时是否使用双引号 -->
						<value>QuoteFieldNames</value>
						<!-- 是否输出值为null的字段 -->
					<!-- 	<value>WriteMapNullValue</value> -->
						<!-- List字段如果为null,输出为[],而非null -->
						<value>WriteNullListAsEmpty</value>
						<!-- 字符类型字段如果为null,输出为”“,而非null -->
						<value>WriteNullStringAsEmpty</value>
						<!-- 字符类型字段如果为null,输出为”“,而非null -->
						<value>WriteNullNumberAsZero</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	<!-- 配置视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 配置前缀 -->
		<property name="prefix" value="/WEB-INF/jsp/" />
		<!-- 配置后缀 -->
		<property name="suffix" value=".jsp" />
	</bean>


	<!-- 上传文件拦截，设置最大上传文件大小 50M=10*1024*1024(B)=52428800 bytes -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- one of the properties available; the maximum file size in bytes -->
		<!-- 默认编码 -->
		<property name="defaultEncoding" value="utf-8" />
		<!-- 文件大小最大值 -->
		<property name="maxUploadSize" value="52428800" />
		<!-- 内存中的最大值 -->
		<property name="maxInMemorySize" value="40960" />
	</bean>

	<!-- 自定义的全局异常处理器 只要实现HandlerExceptionResolver接口就是全局异常处理器 -->
	<bean id="exceptionHandler" class="com.shop.api.exception.ExceptionHandler" />

	<!-- 防止jsp等静态资源被拦截 -->
	<mvc:default-servlet-handler />
	<!-- 静态资源映射 -->
	<!-- <mvc:resources location="/favicon.ico" mapping="/favicon.ico" /> <mvc:resources 
		location="/css/" mapping="/css/**" /> <mvc:resources location="/js/" mapping="/js/**" 
		/> <mvc:resources location="/images/" mapping="/images/**" /> -->
	<!-- 拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/login/**" />
			<mvc:exclude-mapping path="/dict/**" />
			<mvc:exclude-mapping path="/wechat/wechatServer/**" />
			<bean class="com.shop.web.interceptor.LoginInterceptor">
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>
</beans>